<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <input type="text" id="cityName" autocomplete="off" placeholder="Enter ">
    <button id="submitBtn">search here gargi ji </button>
    <div id="show">Weather report</div>
</body>
    {{!-- <script src="js/main.js"></script> --}}
    <script defer type="text/javascript" src="js/main.js"></script>
</html>